[submodule "Assets/NetworkAvatar"]
	path = Assets/NetworkAvatar
	url = git@github.com:CarouselDancing/network-avatar.git
[submodule "Assets/FigureGenerator"]
	path = Assets/FigureGenerator
	url = git@github.com:CarouselDancing/figure-generator.git
[submodule "Assets/BaselineAgent"]
	path = Assets/BaselineAgent
	url = git@github.com:CarouselDancing/baseline-agent.git
[submodule "Assets/MotionMatching"]
	path = Assets/MotionMatching
	url = git@github.com:CarouselDancing/motion-matching.git
